{% extends "layout.html" %}

{% block body %}

<form class="form-group form-light" action="{{ url_for(action) }}"
      method="POST">

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter email">
  </div>
  <div class="form-group ">
    <label for="password">Password</label>
    <input type="password" class="form-control" aria_describedby="passwordHelp" name="password" id="password" placeholder="Password">
      <small id="passwordHelp" class="form-text">We'll never share your data with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">{{ submit }}</button>
</form>
    {% if wrong_data %}
    <h2>{{ wrong_data}}</h2>
    {% endif %}
{% endblock %}